@charset "UTF-8";
.userul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.userli {
	padding: 1px;
  float: left;
}

.mfix-1-12 {
	max-width: 93px !important
}

.mfix-2-12 {
	max-width: 186px !important
}

.mfix-3-12 {
	max-width: 279px !important
}

.mfix-4-12 {
	max-width: 371px !important
}

.mfix-5-12 {
	max-width: 464px !important
}

.mfix-6-12 {
	max-width: 557px !important
}

.mfix-7-12 {
	max-width: 650px !important
}

.mfix-8-12 {
	max-width: 743px !important
}

.mfix-9-12 {
	max-width: 836px !important
}

.mfix-10-12 {
	max-width: 928px !important
}

.mfix-11-12 {
	max-width: 1021px !important
}

.mfix-12-12 {
	max-width: 1114px !important
}

[class*=mfix-] {
	width: 100% !important;

	float: none
}
